$colors: (
  anchovy:            #8c9b9b,
  soba:               #bcbaba,
  primary_teal:       #43DDC8,
  secondary_teal:     #01857C,
  primary_button_text:#003935,
  primary_hover_teal: #03706D,
  primary_hover_text: #DEFFFD,
  mackerel:           #2e3333
);
