@mixin link($color: primary_hover_teal, $hover_colour: link_hover) {
  text-decoration: none;
  color: color($color);
  transition-property: color, border;
  transition-duration: 0.4s;

  &:hover {
    color: color($hover_colour);
    transition-duration: 0.2s;
    text-decoration: underline;
  } // @link:hover
} // @link

a {
  @include link(primary_hover_teal, link_hover);
  @include external-href('deliveroo.engineering') {
    &::after {
      @include image-replacement('/images/external_link_teal', 12px, 12px, $type: 'svg');
      display: inline-block;
      transition-property: opacity;
      transition-duration: 0.4s;
      opacity: 0.75;
      content: '⬈';
      margin-left: 5px;
      margin-right: 1px;
    } // @external-href('deliveroo.engineering') a::after

    &:hover::after {
      transition-duration: 0.2s;
      opacity: 0.5;
    } // @external-href('deliveroo.engineering') a:hover::after
  } // @external-href('deliveroo.engineering') a
} // a

code, kbd, pre, samp {
  @include font-family(monospace, 'SourceCodePro');
  line-height: 1.4;
}

code {
  font-size: font-size(small-body);

  &.highlighter-rouge {
    background-color: color(anchovy, 20%);
    padding: 2px;
  }
}

h1, h2, h3, h4 {
  @include font-family(title, 'Stratos');
  font-feature-settings: "ss01";
  font-weight: 600;
}

h1 {
  font-weight: 800;
  font-size: font-size(extra-large-heading);
  line-height: 68px;
  margin: 0.5em 0;
  text-align: center;
  padding: 0 10px;
}

h2 {
  font-size: font-size(large-heading);
  line-height: 44px;

  code {
    font-size: font-size(small-heading);
  }
}

h3 {
  font-size: font-size(small-heading);
  line-height: 32px;

  code {
    font-size: font-size(smallish-heading);
  }
}

h4 {
  font-size: font-size(smallish-heading);

  code {
    font-size: font-size(extra-small-heading);
  }
}

h5, h6 {
  font-size: font-size(extra-small-heading);

  code {
    font-size: font-size(extra-small-heading);
  }
}

h2, h3, h4 {
  a.anchorjs-link {
    border: none;
  }
}

p.introduction {
  font-size: font-size(large-body);
}

hr {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: color(anchovy, 40%);
  margin: 2em 0;
  clear: both;
}

ul, ol {
  box-sizing: border-box;
  padding-left: 1.5em;

  li {
    line-height: 1.5;

    & + li {
      margin-top: 0.2em;
    } // {ul, ol} li + li
  } // {ul, ol} li
} // {ul, ol}
